* {
    box-sizing: border-box;


}

body {
    background-color: rgb(196, 195, 195);
}

header {

    width: 850px;
    height: 300px;
    margin: 0 auto;
    background-color: #215e9c;
}

ul,
li {
    list-style-type: none;
    display: inline;
    padding: 0 10px 0 10px;
    position: relative;
    top: 10px;
    left: 100px;
}



.dropbutton {
    background-color: white;
    color: black;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbutton-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 125px;
    line-height: 25px;

    padding: 30px 30px;
    z-index: 1;
}

.dropbutton-content a {
    color: black;

    text-decoration: none;
    display: block;
}

.dropbutton-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropbutton-content {
    display: block;
}

.dropdown:hover .dropbutton {
    background-color: white;
}

.links,
.timeline {
    border-right: 1px solid lightgrey;

}

.links:hover,
.timeline:hover {
    border-bottom: 2px solid #215e9c;
}

a.navlinks {
    color: black;
}


h1,
h3 {
    position: relative;
    top: 175px;
    left: 250px
}


nav {
    position: relative;
    top: 200px;
    height: 50px;
    background-color: white;
    z-index: 1;

}

.userphoto {
    border: 1px solid black;
    height: 250px;
    width: 200px;
    position: relative;
    left: 10px;
    top: -75px;
    z-index: 2;
    background-color: #215e9c;
    border-radius: 1.75%;
}

.headerbuttons {
    border: 1px solid lightgray;
    background-color: white;
    width: fit-content;
    position: relative;
    float: right;
    bottom: 145px;
    right: 5px;
    height: 30px;
    border-radius: 5%;



}




.headerbutton {
    border: none;
    background: none;
    font-size: 10px;
    font-weight: bold;
    padding: 8px;



}

.headermessage {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    background-color: white;
    width: 70px;
    font-size: 10px;
    font-weight: bold;

}




.headerlike {
    position: relative;
    left: 620px;
    bottom: 145px;
    border: 1px solid white;
    font-size: 10px;
    height: 30px;
    width: 50px;
    font-weight: bold;
    border-radius: 5%;
    z-index: 15;
}

.headerfollow {
    color: lightgrey;

}

p.envelope {
    position: relative;
    font-size: 20px;
    display: inline;
    top: 2px;








}

/* this is the end of my header  */



.feedbox {
    position: relative;
    border: 1px solid black;
    background-color: white;
    float: left;
    width: 100px;
    height: 100px;
}

.box1 {
    position: relative;
    border: 1px solid lightgray;
    left: 27.5%;
    width: 328px;
    height: 200px;
    margin-right: 10px
}


.box2 {
    position: relative;
    top: 100;
    left: 27.4%;
    width: 512px;
    height: 600px;
    margin-left:none;
    border: 1px solid lightgray;
}


.bx1txt{
    padding-top:5px;
    border-top: 2px solid lightgray;
}




.bx1bottom {
    position: relative;
    top: 10px;
    border-top: 2px solid lightgray;

}
.bx2photo{

    border: 10px solid white;
    border-radius: 2%;
}

.bx2btns{
    background-color:white;
    position: relative;
    bottom:6px;
    height: 30px;
    border-top: 1px solid lightgray;
    background-color: whitesmoke;
    
}
.btnbar2{
    border: none;
    background-color: whitesmoke;
    
    

}
.bx2main{
    margin: 0 2px 5px 2px ;
    
    


    
}