* {
    box-sizing: border-box;
    
}

body {
    background-color: rgb(196, 195, 195);
}

header {

    width: 850px;
    height: 300px;
    margin: 0 auto;
    background-color: #215e9c;
}

ul,
li {
    list-style-type: none;
    display: inline;
    padding: 0 15px 0  15px ;
    position: relative;
    top: 10px;
    left: 100px;
}
li{
    border-right: 1px solid black;
    
}
li:last-child{
    border:none;
}

h1, h3{
    position: relative;
    top: 175px;
    left:250px
}


nav {
    position: relative;
    top: 200px;
    height: 50px;
    background-color: white;
    z-index: 1;
}

.userphoto {
    border: 1px solid black;
    height: 250px;
    width: 200px;
    position: relative;
    left: 10px;
    top: -75px;
    z-index: 2;
    background-color: #215e9c;
    border-radius: 2%;
}
div{
    float: left;
    border:1px solid gray;
    height:200px;
    width:200px;
}
.box1, .box2{
position: relative;
top: 200px;
margin:10px;
right: 225px;
background-color: white;


}

.box1{
width:328px
}

.box2{
width: 512px;
height: 400px;
}
.about{
    position: relative;
    top:15px;
    border-top:1px solid gray;
    padding-top: 20px;
    text-transform: uppercase;
}

.buttons{
    width: fit-content;
    height: fit-content;
    margin:5px;
    background-color: lightgray;
    position: relative;
   border:none;
   left:628px;
   top:134px;
   width:510px;
   height:50px;
  
   
}
button{
    border:none;
    background-color: lightgray;
    font-variant: small-caps;
    padding: 10px 10px 5px 10px;
    font-size: 12px;
    
    
}



   

     